* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-colour;
    font-size: 15px;
    font-family: $font-stack;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $very-dark-blue;
}

p {
    color: $dark-grayish-blue;
}

ul {
    list-style-type: none;
}

footer {
    grid-column: 1 / 4;
    grid-row: -1;
    text-align: center;

    a {
        color: $soft-orange;
        font-weight: 700;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(5, auto);
    column-gap: 40px;
    row-gap: 30px;
    max-width: 100%;
    min-height: 100dvh;
    min-height: 100vh;
    margin: 5%;
    background-color: $bg-colour;
}

.mobile-hero-img {
    display: none;
}