* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-colour;
    font-size: 15px;
    font-family: $font-stack;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $very-dark-blue;
}

p {
    color: $dark-grayish-blue;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;

    a {
        color: $soft-orange;
        font-weight: 700;
    }
}

.container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    min-height: 100dvh;
    background-color: $bg-colour;
}

.mobile-hero-img {
    display: none;
}