.nav {
    grid-column: 1 / 4;
    grid-row: 1;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    ul {
        display: flex;
    }

    li {
        padding-left: 40px;
    }

    a {
        color: $dark-grayish-blue;

        &:hover {
            color: $soft-red;
        }
    }

    &-mobile-button {
        display: none;
    }
}

.nav-mobile {
    display: none;
}

.darken-background {
    display: none;
}