.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;

    ul {
        display: flex;
    }

    li {
        padding: 0 30px;
    }

    a {
        color: $dark-grayish-blue;

        &:hover {
            color: $soft-red;
        }
    }

    &-mobile-button {
        display: none;
    }
}

.nav-mobile {
    display: none;
}

.darken-background {
    display: none;
}