.trending-news {
    display: flex;
    margin-top: 2.5em;

    img {
        height: 50%;
    }

    div {
        margin-left: 20px;

        h2 {
            margin-bottom: 10px;
            color: $soft-red;
            font-size: 2rem;
        }

        h3 {
            margin-bottom: 10px;
            font-weight: 700;

            a:hover {
                color: $soft-red;
            }
        }

        p {
            line-height: 1.7;
        }
    }
}